<section class="main">
	<div class="inner">
			<div class="main-wrap">
				<div class="main-text">
					<h1>Мы консультируем - Вы зарабатываете</h1>
					<p>Решение задач и проблем в экономико-правовом поле</p>
				</div>
				<div class="main-form">
					<form class="form-consult" action="">
						<div class="form-head">
							<h3>Первая консультация - бесплатно</h3>
						</div>
						<div>
							<input type="text" placeholder="* Ваше имя">
						</div>
						<div>
							<input type="text" placeholder="* Номер телефона">
						</div>
						<div>
							<input type="text" placeholder="* Email">
						</div>
						<div>
							<input type="text" placeholder="* Тема (например, оценка бизнеса) ">
						</div>
						<div>
							<textarea name="" id="" cols="7" placeholder="Комментарий"></textarea>
						</div>
						<div class="btn-wrap">
							<button class="btn btn-grey">записаться</button>
						</div>
					</form>
				</div>
			</div>
	</div>
</section>
<section class="services">
	<div class="inner">
		<div class="section-head light">
			<h2>Наши услуги</h2>
			<p>Здесь мы перечислили основные услуги обобщенно. Перейдите на интересующую Вас услугу для более детального анализа. По любым вопросам Вы всегда можете к нам обратиться.</p>
		</div>
		<div class="services-wrap">
			<div class="service">
				<div class="service-img">
					<img src="%=static=%img/content/service1.jpg" alt="">
				</div>
				<div class="service-text">
					<p>Сопровождение бухгалтерского и налогового учета</p>
				</div>
			</div>
			<div class="service">
				<div class="service-img">
					<img src="%=static=%img/content/service1.jpg" alt="">
				</div>
				<div class="service-text">
					<p>Сопровождение бухгалтерского и налогового учета</p>
				</div>
			</div>
			<div class="service">
				<div class="service-img">
					<img src="%=static=%img/content/service1.jpg" alt="">
				</div>
				<div class="service-text">
					<p>Сопровождение бухгалтерского и налогового учета</p>
				</div>
			</div>
			<div class="service">
				<div class="service-img">
					<img src="%=static=%img/content/service1.jpg" alt="">
				</div>
				<div class="service-text">
					<p>Сопровождение бухгалтерского и налогового учета</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="cases">
	<div class="inner">
		<div class="section-head white">
			<h2>Реальные кейсы</h2>
		</div>
		<div class="cases-wrap">
			<div class="case">
				<div class="case-head">
					<p>Раздел: Аутсорсинг бухгалтерского учета и налогового планирования</p>
				</div>
				<div class="case-text">
					<p>Ведение бухгалтерского учета для представительства транснациональной компании-лидера по поставкам автомобильных комплектующих ведущих производителей в Европе.</p>
					<p><span>Результат:</span> Все хорошо.</p>
				</div>
			</div>
			<div class="case">
				<div class="case-head">
					<p>Раздел: Аутсорсинг бухгалтерского учета и налогового планирования</p>
				</div>
				<div class="case-text">
					<p>Ведение бухгалтерского учета для представительства транснациональной компании-лидера по поставкам автомобильных комплектующих ведущих производителей в Европе.</p>
					<p><span>Результат:</span> Все хорошо.</p>
				</div>
			</div>
			<div class="case">
				<div class="case-head">
					<p>Раздел: Аутсорсинг бухгалтерского учета и налогового планирования</p>
				</div>
				<div class="case-text">
					<p>Ведение бухгалтерского учета для представительства транснациональной компании-лидера по поставкам автомобильных комплектующих ведущих производителей в Европе.</p>
					<p><span>Результат:</span> Все хорошо.</p>
				</div>
			</div>
			<div class="case">
				<div class="case-head">
					<p>Раздел: Аутсорсинг бухгалтерского учета и налогового планирования</p>
				</div>
				<div class="case-text">
					<p>Ведение бухгалтерского учета для представительства транснациональной компании-лидера по поставкам автомобильных комплектующих ведущих производителей в Европе.</p>
					<p><span>Результат:</span> Все хорошо.</p>
				</div>
			</div>
		</div>
		<div class="case-btn">
			<a class="btn btn-grey" href="#">все кейсы</a>
		</div>
	</div>
</section>