
@font-face {
  font-family: 'Times-Bold';
  src: url('Times-Bold.eot?#iefix') format('embedded-opentype'),  url('Times-Bold.woff') format('woff'), url('Times-Bold.ttf')  format('truetype'), url('Times-Bold.svg#Times-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
