
@font-face {
  font-family: '-SavoyeLetPlainCC';
  src: url('-SavoyeLetPlainCC.eot?#iefix') format('embedded-opentype'),  url('-SavoyeLetPlainCC.woff') format('woff'), url('-SavoyeLetPlainCC.ttf')  format('truetype'), url('-SavoyeLetPlainCC.svg#.SavoyeLetPlainCC') format('svg');
  font-weight: normal;
  font-style: normal;
}
