<header>
	<div class="header-top">
		<div class="inner">
			<div class="phone-block">
				<a href="tel:+38 (044) 555-55-55">+38 (044) 555-55-55</a>
			</div>
			<div class="languages">
				<ul>
					<li><a href="#!">Русский</a></li>
					<li><a href="#!">українська</a></li>
					<li><a href="#!">english</a></li>
				</ul>
			</div>
			<div class="icons">
				<ul>
					<li><a href="#!"><img src="%=static=%img/general/facebook_icon.svg" alt=""></a></li>
					<li><a href="#!"><img src="%=static=%img/general/twitter_icon.svg" alt=""></a></li>
					<li><a href="#!"><img src="%=static=%img/general/google_plus_icon.svg" alt=""></a></li>
					<li><a href="#!"><img src="%=static=%img/general/linkedin_icon.svg" alt=""></a></li>
				</ul>
			</div>
			<div class="search">
				<a href="#!"><img src="%=static=%img/general/search_icon.svg" alt=""></a>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="inner">
			<div class="logo">
				<a href="#!"><img src="%=static=%img/general/logo.svg" alt=""></a>
			</div>
			<div class="menu">
				<nav>
					<ul>
						<li><a class="active" href="#!">главная</a></li>
						<li><a href="#!">Услуги</a></li>
						<li><a href="#!">портфолио</a></li>
						<li><a href="#!">о компании</a></li>
						<li><a href="#!">новости</a></li>
						<li><a href="#!">контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>