
@font-face {
  font-family: 'SavoyeLetPlain';
  src: url('SavoyeLetPlain.eot?#iefix') format('embedded-opentype'),  url('SavoyeLetPlain.woff') format('woff'), url('SavoyeLetPlain.ttf')  format('truetype'), url('SavoyeLetPlain.svg#SavoyeLetPlain') format('svg');
  font-weight: normal;
  font-style: normal;
}
